/*
disabled 
*{
  opacity:0.5;
  filter: alpha(opacity = 50);  // opacity for IE
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  -opera-opacity:0.5;
}
*/

.seadragonViewer{
  cursor: move;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

html{
//  background: url('../../img/fsimageviewer/tile.png') repeat 0 0;
}

html:-moz-full-screen #viewer_header{
  visibility: hidden;
}

html:-webkit-full-screen #viewer_header{
  visibility: hidden;
}

html:-webkit-full-screen #seadragonViewer{
  top: 0;
  left: 0;
  position: fixed;
}


html:-moz-full-screen #seadragonViewer{
  top: 0;
  left: 0;
  position: fixed;
}

html:-moz-full-screen #gallery_panel{
  background: url('../../img/fsimageviewer/galleryBG.png');
  width: 200px;
  box-shadow: 0 10px 20px #111;
  overflow: hidden;
  position: absolute;
  top: -70px;
  right: 0;
  height: 100%;
}

body{
  font: 13px/21px "Lucida Grande", "Lucida Sans Unicode",sans-serif;
}

#viewer_header{
  height: 70px;
  background: url('../../img/fsimageviewer/header.jpg') center 0 no-repeat;
}

.index_notice{
  margin: 0;
  padding: 8px 0 0 0;
  position: absolute;
  top: 70px;
  left: 0;
  height: 40px;
  width: 99%;
  background: url('../../img/fsimageviewer/lower_ribbon_bg.png') repeat-x;
  cursor: default;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.index_notice span.notice{
  font-size: 15px;
}

.indexButton{
  border-radius: 5px;
  background: -moz-linear-gradient(top, #94b183, #6e8a64);
  height: 27px;
  border: 1px solid #222222;
  display: inline-block;
  padding: 5px 10px 2px;
  margin: 0 0 0 10px;
  text-shadow: 0 -1px 1px #222;
  cursor: pointer;
  
}
.indexButton:active{
  border-radius: 5px;
  background: -moz-linear-gradient(top, #6e8a64, #94b183);
  height: 27px;
  border: 1px solid #222222;
  display: inline-block;
  padding: 5px 10px 2px;
  margin: 0 0 0 10px;
  text-shadow: 0 1px 1px #222;
  cursor: pointer;
}

#viewer_header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#control_panel{
  background: #000;
  opacity: 0.75;
  position: absolute;
  top: 100px;
  left: 50px;
  cursor: move;
  border-radius: 3px;
  box-shadow: 0 0 20px #000;
}

.default_size{
  width: 170px;
  height: 230px;
}

.small{
  width: 90px;
  height: 230px;
}


#side_panel{
  /*
  position: absolute;
  top: 70px;
  z-index: 100;
  top: 70px;
  height: 200px;
  border: 1px solid red;
  */
}

#control_panel:hover{
  opacity:1;
  -moz-opacity:1;
  -khtml-opacity:1;
  -opera-opacity:1;
}


#imgFunc{
  float: left;
  margin: 21px 0 0 13px;
}

#imgFunc div{
  margin: 0 0 20px 0;
}
#zoomFunc{
  height: 100%;
  padding: 0 0 0 20px;
  margin: 0 21px 0 0;
  border-left: 1px solid #444444;
  float: right;
}

.zoomin{
  padding: 16px 0 0 16px;
  background: url('../../img/fsimageviewer/zoomin.png') 0 0 no-repeat;
  position: absolute;
  top: 24px;
  right: 15px;
  cursor: pointer;
}

.zoomout{
  padding: 16px 0 0 16px;
  background: url('../../img/fsimageviewer/zoomout.png') 0 0 no-repeat;
  position: absolute;
  top: 188px;
  right: 15px;
  cursor: pointer;
}

#zoom_slider{
  height: 143px;
  border-radius: 5px;
  margin: 42px 0 0 0;
  width: 2px;
  cursor: pointer;
}

#gallery_container{
  position: absolute;
  top: 0;
  right:0;
  padding: 0 0 0 0;
  margin: 0;
  z-index: 200;
  width: 150px;
}

#gallery_panel{
  background: url('../../img/viewer/galleryBG.png');
  width: 150px;
  box-shadow: 0 10px 20px #111;
  overflow: hidden;
  position: fixed;
  right: 0;
  height: 90%
}

#thumbnail_strip{
  padding: 0 0 0 0;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: none;
  height: 100%;
  position: relative;
}

#thumbnail_handle{
	top: 350px;
  left: -17px;
  position: absolute;
  
  width: 20px;
  height: 80px;
  z-index: 3000;
  background: url('../../img/viewer/handle.png') 0 0 no-repeat;
  cursor: w-resize;
//  box-shadow: 0px 10px 20px #111; //
  
  
}

#thumbnail_strip table{
  padding: 10px 10px 0 5px;
}

#thumbnail_strip table tr{  
}
#thumbnail_strip table td{  
  color: #ababab; 
  padding: 1px 0;
  font-size: 12px;
}

.thumbnail{
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
  _border: 2px solid black;
  border-radius: 5px;
}

.selected{
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
  border: 2px solid yellow;
  border-radius: 5px;
}

.thumbnail:hover{
  border: 2px solid #fafafa;
  border-radius: 5px;
  
}

.thumbnail_table{
  width: 100%;
}

#selectedImage{
  border: 2px solid orange; //#d9934b;
  border-radius: 5px;
}


.back{
  background: url('../../img/viewer/back.png') 0 2px no-repeat;
  padding: 0 0 0 14px;
  line-height: 16px;
  margin: 0 0 0 28px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  top: 9px;
  opacity: 0.6;
  cursor: pointer;
}

.back:hover{
  opacity: 1;
}


.viewer_header {
  text-align: center;
}



.details{
  margin: 9px 23px 0 0;
  padding: 0 0 0 18px;
  background: url('../../img/viewer/info.png') 0 5px no-repeat;
}
.detailInfo{
  position: absolute;
  top: 32px;
  right: 30px;
}


.fullscreen{
  background: url('../../img/fsimageviewer/fullscreen.png') 2px 4px no-repeat;
  
}
.rotate{
  background: url('../../img/fsimageviewer/rotate.png') 0 3px no-repeat;
}
.invert{
  background: url('../../img/fsimageviewer/invert.png') 2px 6px no-repeat;
}
.download{
  background: url('../../img/fsimageviewer/download.png') 0 5px no-repeat;
}
.print{
  background: url('../../img/fsimageviewer/print.png') 1px 5px no-repeat;
}


.fsbutton{
  padding: 0 0 0 23px;
  margin: 0;
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  opacity: 1;
}

.disabled_fsbutton {
  text-decoration: line-through;
  cursor: default;
}

.fsbutton:hover{
  opacity: 1;
}


.msgOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;
  background: #000000;
  opacity: 0.75;
}

.scrollMsg{
  text-align: center;
  background: #ffffff;
  top: 25%;
  left: 40%;
  position: absolute;
  border-radius: 5px;
  width: 15%;
  height: 365px;
  opacity: 1;
  z-index: 9999;
  padding: 35px;
  font-size: 15px;
  color: #333333;
  line-height: 1.5em;
}

.scrollMsg .closeAlert{
  cursor: pointer;
  color: #ad7031;
  
}

.scrollMsg .closeAlert:hover{
  color: #000000;
}

// Slider overrides
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1em; height: 0.3em; cursor: pointer; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.5em; margin-left: 0; margin-bottom: 0.1em; margin-top: 2em;}
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
