#drr-viewer {
  height: 100%;
  width: 100%;
}

#seadragon_container {
  height: 100%;
  width: 100%;
}

#gallery_container{
  position: absolute;
  top: 0;
  right:0;
  padding: 0 0 0 0;
  margin: 0;
  z-index: 200;
  width: 90px;
}

#gallery_panel{
  background: url('../../img/viewer/galleryBG.png');
  width: 150px;
  overflow: hidden;
  position: fixed;
  right: 0;
  height: 100%
}

#thumbnail_strip{
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: none;
  height: 100%;
  position: relative;
  color: #ababab; 
  padding: 1px 0;
  font-size: 12px;
}


.thumbnail_column {
  align: "center";
}

.thumbnail {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
  padding: 0;
  border: 2px solid black;
  border-radius: 5px;
}

#selectedThumbnail{
  border: 2px solid orange; //#d9934b;
  border-radius: 5px;
}

.overlay
{
  border: 1px solid white;
  background-color: yellow;
  opacity:0.4;
  filter:alpha(opacity=40);
}

.zoom_overlay
{
  border: 1px dashed white;
  background-color: blue;
  opacity:0.4;
  filter:alpha(opacity=40);
}